<h1> <%=@blogger.name%> </h1>

<h2>Age: <%=@blogger.age%> </h2>

<h2>Bio:</h2>
<div> <%=@blogger.bio%></div>

<h2> Total Likes: <%=@blogger.total_likes%></h2>

<h2> Total Posts: <%=@blogger.posts.count%></h2>

<%if(@blogger.posts.count>0)%>
    <h2> Featured Post: <%= link_to @blogger.featured_post.title , @blogger.featured_post %></h2>
<% end %>
